<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>2961639F73669602D9E7BA93CEF74508</string>
            <key>code2</key>
            <string>2A2F8577BBCA28B428F5E4F7C2BBC9DE</string>
            <key>code3</key>
            <string>1C44ACFED96E9FD0680E44D5827091FF</string>
            <key>code4</key>
            <string>1532D5D141A1C1339143E18AC849FC90</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>105768293</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>243650030995582339</string>
            <key>package_name</key>
            <string>com.cocoyaojun.1</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>2850086000418583727</string>
            <key>product_id</key>
            <string>737518067793788410</string>
            <key>client_id</key>
            <string>773092802971060928</string>
            <key>client_secret</key>
            <string>[!002E5FF5F556DA10BBFFEBEC1F6A123692CA8E4017FC8B37036A28441E9615CDBD449DAE1E326DB810E2D4BC3C1C5F22F9C773103899AD6306B7DC04F8ED2900F7140423F64B4E7CCBBD66C39DCE575700BA8383ECEAD4447A48596323C22A7F4B]</string>
            <key>project_id</key>
            <string>737518067793788410</string>
            <key>app_id</key>
            <string>243650030995582339</string>
            <key>api_key</key>
            <string>CwEAAAAACot0OIlneU6r2+QgJ0bpMOJ8Gs6nKjxYAxXXz0Xr94UcVj/I7hoQzsYuR4Fs03Ue0R9JbJq3RiBpkMovIJ3U57Jgpb4=</string>
            <key>package_name</key>
            <string>com.cocoyaojun.1</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>default_storage</key>
                <string>mystorage-awfpi</string>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.agcsdk.appleid</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!004DEA3656254B72E3B566E46A4E1C3353907546D4E50CA6FDE83855657D1AACAE47456C84E9204A03BD2C899A1009BA8F62F54141B9AD076DBE874DA80C4356ADDDD977FC90466FDD6BF942AF8D78BB0D64FA5281D94DE58A4457F5BE402744E0]</string>
                    <key>app_id</key>
                    <string>243650030995641482</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>1C810286319988FC2594B15992B719524713B8665BAA1D6C5BFD8F68402A2E63</string>
                    <key>code2</key>
                    <string>D27BBDA0B9DE95AA5350F444F7FEF14CBA6957B6A2B5A3C95F6F47E04EC32293</string>
                    <key>code3</key>
                    <string>A4E9C9138FED0DF61CECA8F7FE96395076C3DDCD66C338B6A927D6E9FFDF91E7</string>
                    <key>code4</key>
                    <string>C8A4A77F731517069C2FDD18505A04DF</string>
                </dict>
            </dict>
            <dict>
                <key>package_name</key>
                <string>com.cocoyaojun.1</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!004DEA3656254B72E3B566E46A4E1C3353907546D4E50CA6FDE83855657D1AACAE47456C84E9204A03BD2C899A1009BA8F62F54141B9AD076DBE874DA80C4356ADDDD977FC90466FDD6BF942AF8D78BB0D64FA5281D94DE58A4457F5BE402744E0]</string>
                    <key>app_id</key>
                    <string>243650030995582339</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>1C810286319988FC2594B15992B719524713B8665BAA1D6C5BFD8F68402A2E63</string>
                    <key>code2</key>
                    <string>D27BBDA0B9DE95AA5350F444F7FEF14CBA6957B6A2B5A3C95F6F47E04EC32293</string>
                    <key>code3</key>
                    <string>A4E9C9138FED0DF61CECA8F7FE96395076C3DDCD66C338B6A927D6E9FFDF91E7</string>
                    <key>code4</key>
                    <string>C8A4A77F731517069C2FDD18505A04DF</string>
                </dict>
            </dict>
            <dict>
                <key>package_name</key>
                <string>com.lucky.agc.demo</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!004DEA3656254B72E3B566E46A4E1C3353907546D4E50CA6FDE83855657D1AACAE47456C84E9204A03BD2C899A1009BA8F62F54141B9AD076DBE874DA80C4356ADDDD977FC90466FDD6BF942AF8D78BB0D64FA5281D94DE58A4457F5BE402744E0]</string>
                    <key>app_id</key>
                    <string>322780611177380021</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>1C810286319988FC2594B15992B719524713B8665BAA1D6C5BFD8F68402A2E63</string>
                    <key>code2</key>
                    <string>D27BBDA0B9DE95AA5350F444F7FEF14CBA6957B6A2B5A3C95F6F47E04EC32293</string>
                    <key>code3</key>
                    <string>A4E9C9138FED0DF61CECA8F7FE96395076C3DDCD66C338B6A927D6E9FFDF91E7</string>
                    <key>code4</key>
                    <string>C8A4A77F731517069C2FDD18505A04DF</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
